In [ ]:
# Pandas

In [35]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.arange(1,26).reshape(5,5),index=['R1','R2','R3','R4','R5'],columns=['C1','C2','C3','C4','C5'])
df.head()

    C1  C2  C3  C4  C5
R1   1   2   3   4   5
R2   6   7   8   9  10
R3  11  12  13  14  15
R4  16  17  18  19  20
R5  21  22  23  24  25

In [13]:
df.to_csv('Test1.csv')

In [14]:
df.loc['R1']

C1    1
C2    2
C3    3
C4    4
C5    5
Name: R1, dtype: int64

In [15]:
type(df.loc['R1'])

pandas.core.series.Series

In [16]:
df.iloc[0:3,0:3] #[row:row,column:column]

    C1  C2  C3
R1   1   2   3
R2   6   7   8
R3  11  12  13

In [21]:
df.iloc[0:1,:]

    C1  C2  C3  C4  C5
R1   1   2   3   4   5

In [22]:
df.iloc[:,0:2]

    C1  C2
R1   1   2
R2   6   7
R3  11  12
R4  16  17
R5  21  22

In [23]:
type(df.iloc[:,0:2])

pandas.core.frame.DataFrame

In [25]:
df.iloc[:,:].values #converting DF to arrays

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [26]:
df.iloc[0:4,1:].values.reshape(8,2)

array([[ 2,  3],
       [ 4,  5],
       [ 7,  8],
       [ 9, 10],
       [12, 13],
       [14, 15],
       [17, 18],
       [19, 20]])

In [27]:
df['C1'].value_counts()

1     1
6     1
11    1
16    1
21    1
Name: C1, dtype: int64

In [32]:
df.sum() #returns sum of each column

C1    55
C2    60
C3    65
C4    70
C5    75
dtype: int64

In [33]:
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
C5    0
dtype: int64

In [34]:
df['C1'] #instead of loc

R1     1
R2     6
R3    11
R4    16
R5    21
Name: C1, dtype: int64